/**
 * @file sass value validate
 */

:root {
    --color: #ccc;
}

$color: #ccc;

$grid-width: 40px;
$gutter-width: 10px;

@function grid-width($n) {
    @return $n * $grid-width + ($n - 1) * $gutter-width;
}

.Foo {
    width: grid-width($color);
}

.body {
    background-color: 1px var(--color);
    background-color: $color;
    transform: translate(50px, #ccc);
    transform: is(10deg);

    background: url("./url") 1px 1px;
    background-position: 10% 10%;
    padding: 1px;

    color: 1px;
    margin: 1px 2px 3px 4px 5px;
}
